.App {
  display: flex;
  justify-content: center;
}

.autocomplete {
  width: 300px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autocomplete input[type='text'] {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.autocomplete ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete li:hover {
  background-color: #f0f0f0;
}

.selected-image {
  display: block;
  margin-top: 15px;
  max-width: 100%;
  height: auto;
  border: 2px solid #000;
}

.loading {
  color: #138d13;
}

.error {
  color: #800f0f;
}

.title {
  text-align: center;
}
